@import url('https://fonts.google.com/share?selection.family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700');
body{
    margin: 0;
    font-family: 'Courier Prime', monospace;
    background-color: #000;
    color: #fff;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}
